# Linux
.directory
*~
.*.swp

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
Desktop.ini

# Windows XP
ehthumbs.db

# Logs
*.log

# Project npm dependencies
/node_modules

# Bower libraries
/assets/lib

# IDE
nbproject/
.idea/

# Deliver
/build

# Sass
.sass-cache
/app/client/admin/compass/sass/modules/_sprite.scss

# Compiled file
/assets/be/js/*
/assets/be/css/*
/assets/be/images/sprite.png

# Documentation
/site
/.grunt

# End to end tests
/tests/client/e2eTests/build