<div ng-controller="DeviceDetailController as vm">
    <div class="device-detail" ng-class="{'opened' : manage.showDetail}">
        <div class="header">
            <ul class="menu">
                <li class="action item" ng-click="vm.setActivePage(0)" ng-class="{'active': vm.isActivePage(0)}">
                    <span ng-bind="'MANAGE.DETAIL.ACTION' | translate"></span>
                </li>
                <li class="detail item" ng-click="vm.setActivePage(1)" ng-class="{'active': vm.isActivePage(1)}">
                    <span ng-bind="'MANAGE.DETAIL.DETAIL' | translate"></span>
                </li>
                <li class="history item" ng-click="vm.setActivePage(2)" ng-class="{'active': vm.isActivePage(2)}">
                    <span ng-bind="'MANAGE.DETAIL.HISTORY' | translate"></span>
                </li>
                <hr />
            </ul>
            <span class="exit" ng-click="vm.closeDetail()"></span>
        </div>

        <div class="content" ng-class="{'first': vm.isActivePage(0), 'second': vm.isActivePage(1), 'third': vm.isActivePage(2)}">
            <div class="action-page page" ng-class="{'active': vm.isActivePage(0)}">
                <form name="vm.deviceSchedule" ng-submit="vm.saveSchedule(vm.selectedDevice.id)" novalidate>
                    <div class="preset" ng-if="!vm.selectedDevice.devices.length && vm.displayAction" ng-class="{'disabled': !vm.selectedDevice.presets}">
                        <span class="title" ng-bind="'MANAGE.DETAIL.PRESET' | translate"></span>
                        <select ng-model="vm.deviceSchedule.schedule.preset" ng-options="preset.profile as ('P' + preset.profile) for preset in vm.selectedDevice.presets |orderBy:'profile'" ng-disabled="!vm.selectedDevice.presets" ng-if="vm.selectedDevice.presets.length > 1">
                            <option value="" selected hidden />
                        </select>
                        <span class="selected-preset" ng-init="vm.deviceSchedule.schedule.preset = vm.selectedDevice.presets[0].profile" ng-model="vm.deviceSchedule.schedule.preset" ng-if="vm.selectedDevice.presets.length === 1" ng-bind="'P' + vm.selectedDevice.presets[0].profile"></span>
                    </div>
                    <div class="action" ng-if="!vm.selectedDevice.group && vm.displayAction">
                        <div class="title" ng-bind="'MANAGE.DETAIL.ACTION' | translate"></div>
                        <button class="start btn btn-primary" type="button" ng-click="vm.startRecord()" ng-if="vm.selectedDevice.status === 'stopped' || vm.selectedDevice.status === 'starting' || vm.selectedDevice.status === 'error'" ng-disabled="vm.selectedDevice.status === 'starting'" ng-bind="'MANAGE.DETAIL.START' | translate"></button>
                        <div class="recording">
                            <button class="stop btn" type="button" ng-click="vm.stopRecord()" ng-if="vm.selectedDevice.status === 'started' || vm.selectedDevice.status === 'stopping'" ng-disabled="vm.selectedDevice.status === 'stopping'" ng-bind="'MANAGE.DEVICE.STOP_RECORDING' | translate"></button>
                            <button class="tag btn btn-primary" type="button" ng-click="vm.tagRecord()" ng-if="vm.selectedDevice.status === 'started' || vm.selectedDevice.status === 'stopping'" ng-disabled="vm.selectedDevice.status === 'stopping'" ng-bind="'MANAGE.DEVICE.TAG' | translate"></button>
                        </div>
                    </div>
                    <div class="planning" ng-if="!vm.selectedDevice.group && vm.displayAction">
                        <div class="title" ng-bind="'MANAGE.DETAIL.PLANNING' | translate"></div>
                        <div class="begin-block">
                            <div class="begin" ng-bind="('MANAGE.DETAIL.BEGIN' | translate) + ' :'"></div>
                            <input class="date" type="text" uib-datepicker-popup="dd/MM/yyyy" ng-model="vm.deviceSchedule.schedule.beginDate" is-open="vm.popupBegin.opened" min-date="vm.popupBegin.minDate" show-button-bar="false" show-weeks="false" ng-required="true" close-text="Close" required/>
                            <button class="datepicker" type="button" class="btn btn-default" ng-click="vm.popupBegin.opened = !vm.popupBegin.opened"><i class="glyphicon glyphicon-calendar"></i></button>
                            <uib-timepicker class="time" ng-model="vm.deviceSchedule.schedule.beginTime" show-spinners="false" show-meridian="false" required></uib-timepicker>
                        </div>
                        <div class="end-block">
                            <div class="end" ng-bind="('MANAGE.DETAIL.END' | translate) + ' :'"></div>
                            <input class="date" type="text" uib-datepicker-popup="dd/MM/yyyy" ng-model="vm.deviceSchedule.schedule.endDate" is-open="vm.popupEnd.opened" min-date="vm.beginDate" show-button-bar="false" show-weeks="false" ng-required="true" close-text="Close" required/>
                            <button class="datepicker" type="button" class="btn btn-default" ng-click="vm.popupEnd.opened = !vm.popupEnd.opened"><i class="glyphicon glyphicon-calendar"></i></button>
                            <uib-timepicker class="time" ng-model="vm.deviceSchedule.schedule.endTime" show-spinners="false" show-meridian="false" required></uib-timepicker>
                        </div>
                        <button type="submit" class="record btn btn-primary" ng-disabled="vm.deviceSchedule.$invalid" ng-bind="'MANAGE.DETAIL.RECORD' | translate"></button>
                        <table class="table" border="0">
                            <thead>
                            <tr>
                                <th ov-sort-table order="'begin'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.BEGIN' | translate }}</th>
                                <th ov-sort-table order="'end'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.END' | translate }}</th>
                                <th class="trash"><i class="glyphicon glyphicon-trash"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="schedule in vm.selectedDevice.schedules | orderBy:order:reverse track by schedule.scheduleId">
                                <th ng-bind="schedule.beginDate | date:'dd/MM/yyyy HH:mm'"></th>
                                <th ng-bind="schedule.endDate | date:'dd/MM/yyyy HH:mm'"></th>
                                <th class="cross" ng-click="vm.openRemoveModal(schedule.scheduleId, 'REMOVE_SCHEDULE')"></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                <button ng-if="!vm.selectedDevice.devices && !vm.selectedDevice.group" class="btn btn-primary remove" ng-click="vm.openRemoveModal(vm.selectedDevice.id, 'REMOVE_DEVICE')" ng-bind="'MANAGE.DETAIL.REMOVE_DEVICE' | translate"></button>
                <div class="title" ng-if="!vm.selectedDevice.devices && vm.selectedDevice.group && (!vm.selectedDevice.status || vm.selectedDevice.status === 'disconnected')" ng-bind="'MANAGE.DETAIL.NO_ACTION' | translate"></div>
            </div>
            <div class="detail-page page" ng-class="{'active': vm.isActivePage(1)}">
                <div class="status">
                    <span class="name" ng-bind="vm.selectedDevice.name"></span>
                    <i class="pencil glyphicon glyphicon-pencil" ng-show="!vm.selectedDevice.displayInputName && vm.selectedDevice.status && vm.selectedDevice.status !== 'disconnected'" ng-click="vm.displayDeviceNameForm()"></i>
                    <form name="vm.deviceNameForm" novalidate ng-show="vm.selectedDevice.displayInputName">
                        <input type="text" class="form-control input-name" ng-model="vm.selectedDeviceName" required>
                        <span>
                            <button type="submit" class="btn btn-primary ng-binding" ng-disabled="vm.deviceNameForm.$invalid || vm.deviceNameForm.$waiting" ng-bind="'CORE.UI.FORM_SAVE' | translate" ng-click="vm.updateName(vm.selectedDeviceName)">Enregistrer</button>
                            <button type="button" class="btn btn-default ng-binding" ng-disabled="vm.deviceNameForm.$waiting" ng-click="vm.selectedDevice.displayInputName = !vm.selectedDevice.displayInputName" ng-bind="'CORE.UI.FORM_CANCEL' | translate">Annuler</button>
                        </span>
                    </form>
                    <div class="state">
                        {{ ('MANAGE.DETAIL.STATE' | translate) + ' : ' }}
                        <span ng-class="vm.selectedDevice.status" ng-bind="vm.selectedDevice.state | translate"></span>
                    </div>
                </div>
                <div class="infos" ng-if="!vm.selectedDevice.devices.length && vm.selectedDevice.status && vm.selectedDevice.status !== 'disconnected'">
                    <div class="ip" ng-bind="'IP : ' + vm.selectedDevice.ip"></div>
                    <div class="mac" ng-bind="'@MAC : ' + vm.selectedDevice.id"></div>
                    <div class="url">URL :
                        <a ng-href="http://{{ vm.selectedDevice.ip }}" target="_blank" ng-bind="'http://' + vm.selectedDevice.ip"></a>
                    </div>
                </div>
                <div class="storage" ng-if="!vm.selectedDevice.devices.length && vm.selectedDevice.status && vm.selectedDevice.status !== 'disconnected'">
                    <span class="text" ng-bind="('MANAGE.DEVICE.SPACE' | translate) + ' : '"></span>
                    <span ng-bind="(vm.selectedDevice.storage.used | number : '1') + ' Go / ' + (vm.selectedDevice.storage.total | number : '1') + ' Go'"></span>
                </div>
                <div class="action" ng-if="vm.selectedDevice.devices.length">
                    <div class="name" ng-bind="'MANAGE.DETAIL.ACTION' | translate"></div>
                    <table class="table" border="0">
                        <thead>
                            <tr>
                                <th ov-sort-table order="'name'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.TABLE.NAME' | translate }}</th>
                                <th ov-sort-table order="'status'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.TABLE.STATUS' | translate }}</th>
                                <th class="trash"><i class="glyphicon glyphicon-trash"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="device in vm.selectedDevice.devices | orderBy:order:reverse track by device.id">
                                <th ng-bind="device.name"></th>
                                <th ng-init="state = (device.state === 'accepted') ? 'MANAGE.DEVICE.DISCONNECTED' : device.state" ng-bind="state | translate"></th>
                                <th class="cross" ng-click="removeFromGroup(device.id, vm.selectedDevice.id)"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="history-page page" ng-class="{'active': vm.isActivePage(2)}">
                <table class="table" border="0">
                    <thead>
                    <tr>
                        <th ov-sort-table order="'date'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.TABLE.DATE' | translate }}</th>
                        <th ov-sort-table order="'message'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.TABLE.MESSAGE' | translate }}</th>
                        <th class="trash"><i class="glyphicon glyphicon-trash"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="history in vm.selectedDevice.history | orderBy:order:!reverse track by history.id">
                        <th ng-bind="history.date | date:'dd/MM/yyyy HH:mm'"></th>
                        <th ng-init="groupName = (history.message.groupName) ? history.message.groupName : ''" ng-bind="(history.message.data | translate) + groupName"></th>
                        <th class="cross" ng-click="vm.openRemoveModal(history.id, 'REMOVE_HISTORY')"></th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="removeModal.html">
        <div class="modal-header warning">
            <h2 class="modal-title">
                <span class="glyphicon glyphicon-alert"></span>
                <span ng-bind="'CORE.UI.WARNING' | translate"></span>
            </h2>
        </div>
        <div class="modal-body text-center" ng-bind-html="'CORE.UI.WARNING_MODAL_ACTION' | translate">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()" ng-bind="'CORE.UI.FORM_CANCEL' | translate"></button>
        </div>
    </script>
</div>
