<div class="devices row">
    <!-- Devices groups -->
    <div class="device-group col-sm-4 col-md-3" ng-repeat="group in groups track by group.id" ng-class="manage.resize">
        <div ng-controller="DeviceController as deviceCtrl" class="dropzone well group" ng-attr-data-id="{{ group.id }}" ng-class="group['ui-state']">
            <span class="title" ng-bind="group.name"></span>
            <span class="count">
              {{ group.devices.length }}
              <span class="mini-box"></span>
            </span>
            <div class="boxes">
                <span class="box first"></span>
                <div class="second">
                    <span class="box"></span>
                    <span class="box"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- Devices -->
    <div class="device col-sm-4 col-md-3" ng-repeat="device in acceptedDevices track by device.id" ng-class="manage.resize">
        <div ng-controller="DeviceController as deviceCtrl" class="draggable dropzone well" ng-attr-data-id="{{ device.id }}" ng-class="device['ui-state']">
            <span class="title" ng-bind="device.name"></span>
            <div class="equipments">
                <span class="camera ok"></span>
                <span class="box ok"></span>
                <span class="screen ok"></span>
                <ul class="progress-storage">
                    <li data-storage="{{ device['storage'] }}">
                        <svg viewBox="-10 -10 220 220">
                            <g fill="none" stroke-width="20" transform="translate(100,100)">
                                <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url({{ absUrl }}#cl1)"/>
                                <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url({{ absUrl }}#cl2)"/>
                                <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url({{ absUrl }}#cl3)"/>
                                <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url({{ absUrl }}#cl4)"/>
                                <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url({{ absUrl }}#cl5)"/>
                                <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url({{ absUrl }}#cl6)"/>
                            </g>
                        </svg>
                        <svg viewBox="-10 -10 220 220">
                            <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="{{ (device['storage']/100)*629 }}"></path>
                        </svg>
                    </li>
                </ul>
            </div>
        </div>
        <div class="new-group well" ng-show="device['ui-state'].indexOf('can-drop') > -1">
          <span class="count">
            2
            <span class="mini-box"></span>
          </span>
            <div class="boxes">
                <span class="box first"></span>
                <div class="second">
                    <span class="box"></span>
                    <span class="box"></span>
                </div>
            </div>
        </div>
    </div>
    <!--  Defining Angle Gradient Colors  -->
    <svg width="0" height="0">
        <defs>
            <linearGradient id="cl1" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="1" y2="1">
                <stop stop-color="#97BF0D"/>
                <stop offset="100%" stop-color="#97BF0D"/>
            </linearGradient>
            <linearGradient id="cl2" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="0" y2="1">
                <stop stop-color="#97BF0D"/>
                <stop offset="100%" stop-color="#97BF0D"/>
            </linearGradient>
            <linearGradient id="cl3" gradientUnits="objectBoundingBox" x1="1" y1="0" x2="0" y2="1">
                <stop stop-color="#97BF0D"/>
                <stop offset="100%" stop-color="#F29400"/>
            </linearGradient>
            <linearGradient id="cl4" gradientUnits="objectBoundingBox" x1="1" y1="1" x2="0" y2="0">
                <stop stop-color="#F29400"/>
                <stop offset="100%" stop-color="#F29400"/>
            </linearGradient>
            <linearGradient id="cl5" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="0" y2="0">
                <stop stop-color="#F29400"/>
                <stop offset="100%" stop-color="#E53527"/>
            </linearGradient>
            <linearGradient id="cl6" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="1" y2="0">
                <stop stop-color="#E53527"/>
                <stop offset="100%" stop-color="#E53527"/>
            </linearGradient>
        </defs>
    </svg>
</div>

<!-- Refused devices -->
<div class="refused-devices row" ng-if="refusedDevices.length">
    <h3 ng-bind="'MANAGE.REFUSED.TITLE' | translate"></h3>
    <div class="device col-sm-4 col-md-3" ng-repeat="device in refusedDevices track by device.id" ng-class="manage.resize">
        <div ng-controller="DeviceController as deviceCtrl" class="well" ng-attr-data-id="{{ device.id }}">
            <span class="title" ng-bind="device.name"></span>
            <div class="equipments">
                <span class="box disconnected"></span>
            </div>
            <button class="accept" ng-click="deviceCtrl.addToAcceptedDevices(device, 'refusedDevices')"></button>
        </div>
    </div>
</div>

<!-- Pending devices -->
<div class="pending-devices row" ng-if="pendingDevices.length">
    <h3 ng-bind="'MANAGE.PENDING.TITLE' | translate"></h3>
    <div class="device demands col-sm-4 col-md-3" ng-repeat="device in pendingDevices track by device.id" ng-class="manage.resize">
        <div ng-controller="DeviceController as deviceCtrl" class="device-connexion well" ng-attr-data-id="{{ device.id }}">
            <div class="title">Demande de connexion de la</div>
            <div class="mac" ng-bind="'@Mac: ' + device.id"></div>
            <div class="device"></div>
            <div class="choice">
                <button class="refused" ng-click="deviceCtrl.addToRefusedDevices(device, 'pendingDevices')"></button>
                <button class="accept" ng-click="deviceCtrl.addToAcceptedDevices(device, 'pendingDevices')"></button>
            </div>
        </div>
    </div>
</div>
