<div ng-controller="DeviceDetailController as vm">
    <div class="device-detail" ng-class="{'opened' : manage.showDetail}">
        <div class="header">
            <ul class="menu">
                <li class="action item" ng-click="vm.setActivePage(0)" ng-class="{'active': vm.isActivePage(0)}">
                    <span ng-bind="'MANAGE.DETAIL.ACTION' | translate"></span>
                </li>
                <li class="detail item" ng-click="vm.setActivePage(1)" ng-class="{'active': vm.isActivePage(1)}">
                    <span ng-bind="'MANAGE.DETAIL.DETAIL' | translate"></span>
                </li>
                <li class="history item" ng-click="vm.setActivePage(2)" ng-class="{'active': vm.isActivePage(2)}">
                    <span ng-bind="'MANAGE.DETAIL.HISTORY' | translate"></span>
                </li>
                <hr />
            </ul>
            <span class="exit" ng-click="vm.closeDetail()"></span>
        </div>

        <div class="content" ng-class="{'first': vm.isActivePage(0), 'second': vm.isActivePage(1), 'third': vm.isActivePage(2)}">
            <div class="action-page page" ng-class="{'active': vm.isActivePage(0)}">
                <div class="preset" ng-if="!vm.selectedDevice.devices.length && vm.displayAction">
                    <span class="title" ng-bind="'MANAGE.DETAIL.PRESET' | translate"></span>
                    <select ng-model="vm.selectedPreset" ng-options="preset.profile as ('P' + preset.profile) for preset in vm.selectedDevice.presets |orderBy:'profile'">
                        <option value="" selected hidden />
                    </select>
                </div>
                <div class="action" ng-if="!vm.selectedDevice.group && vm.displayAction">
                    <div class="title" ng-bind="'MANAGE.DETAIL.ACTION' | translate"></div>
                    <button class="start btn btn-primary" ng-bind="'MANAGE.DETAIL.START' | translate"></button>
                </div>
                <div class="planning" ng-if="!vm.selectedDevice.group && vm.displayAction">
                    <div class="title" ng-bind="'MANAGE.DETAIL.PLANNING' | translate"></div>
                    <div class="begin-block">
                        <div class="begin" ng-bind="('MANAGE.DETAIL.BEGIN' | translate) + ' :'"></div>
                        <input class="date" type="text" uib-datepicker-popup="{{format}}" ng-model="vm.beginDate" is-open="popupBegin.opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <button class="datepicker" type="button" class="btn btn-default" ng-click="vm.openBegin()"><i class="glyphicon glyphicon-calendar"></i></button>
                        <uib-timepicker class="time" ng-model="vm.beginTime" show-spinners="false" ng-change="changed()" show-meridian="false"></uib-timepicker>
                    </div>
                    <div class="end-block">
                        <div class="end" ng-bind="('MANAGE.DETAIL.END' | translate) + ' :'"></div>
                        <input class="date" type="text" uib-datepicker-popup="{{format}}" ng-model="vm.endDate" is-open="popupEnd.opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <button class="datepicker" type="button" class="btn btn-default" ng-click="vm.openEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
                        <uib-timepicker class="time" ng-model="vm.endTime" show-spinners="false" ng-change="changed()" show-meridian="false"></uib-timepicker>
                    </div>
                    <button class="record btn btn-primary" ng-bind="'MANAGE.DETAIL.RECORD' | translate"></button>
                    <table class="table" border="0">
                        <thead>
                        <tr>
                            <th ov-sort-table order="'begin'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.BEGIN' | translate }}</th>
                            <th ov-sort-table order="'end'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.END' | translate }}</th>
                            <th class="trash"><i class="glyphicon glyphicon-trash"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="record in vm.selectedDevice.records | orderBy:order:reverse track by device.id">
                            <th ng-bind="record.begin"></th>
                            <th ng-bind="record.end"></th>
                            <th class="cross"></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button ng-if="!vm.selectedDevice.devices.length && !vm.selectedDevice.group" class="btn btn-primary remove" ng-click="vm.openRemoveModal(vm.selectedDevice.id)" ng-bind="'MANAGE.DETAIL.REMOVE_DEVICE' | translate"></button>
            </div>
            <div class="detail-page page" ng-class="{'active': vm.isActivePage(1)}">
                <div class="status">
                    <span class="name" ng-bind="vm.selectedDevice.name"></span>
                    <i class="pencil glyphicon glyphicon-pencil" ng-show="!vm.selectedDevice.displayInputName" ng-click="vm.displayDeviceNameForm()"></i>
                    <form name="vm.deviceNameForm" novalidate ng-show="vm.selectedDevice.displayInputName">
                        <input type="text" class="form-control input-name" ng-model="vm.selectedDeviceName" required>
                        <span>
                            <button type="submit" class="btn btn-primary ng-binding" ng-disabled="vm.deviceNameForm.$invalid || vm.deviceNameForm.$waiting" ng-bind="'CORE.UI.FORM_SAVE' | translate" ng-click="vm.updateName(vm.selectedDeviceName)">Enregistrer</button>
                            <button type="button" class="btn btn-default ng-binding" ng-disabled="vm.deviceNameForm.$waiting" ng-click="vm.selectedDevice.displayInputName = !vm.selectedDevice.displayInputName" ng-bind="'CORE.UI.FORM_CANCEL' | translate">Annuler</button>
                        </span>
                    </form>
                    <div class="state" ng-bind="('MANAGE.DETAIL.STATE' | translate) + ': '"></div>
                </div>
                <div class="infos" ng-if="!vm.selectedDevice.devices.length">
                    test
                </div>
                <div class="storage" ng-if="!vm.selectedDevice.devices.length">
                    test
                </div>
                <div class="action" ng-if="vm.selectedDevice.devices.length">
                    <div class="name" ng-bind="'MANAGE.DETAIL.ACTION' | translate"></div>
                    <table class="table" border="0">
                        <thead>
                            <tr>
                                <th ov-sort-table order="'name'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.TABLE.NAME' | translate }}</th>
                                <th ov-sort-table order="'status'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.TABLE.STATUS' | translate }}</th>
                                <th class="trash"><i class="glyphicon glyphicon-trash"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="device in vm.selectedDevice.devices | orderBy:order:reverse track by device.id">
                                <th ng-bind="device.name"></th>
                                <th ng-bind="device.status"></th>
                                <th class="cross" ng-click="removeFromGroup(device.id, vm.selectedDevice.id)"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="history-page page" ng-class="{'active': vm.isActivePage(2)}">
                <table class="table" border="0">
                    <thead>
                    <tr>
                        <th ov-sort-table order="'date'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.TABLE.DATE' | translate }}</th>
                        <th ov-sort-table order="'message'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.TABLE.MESSAGE' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="history in vm.selectedDevice.history | orderBy:order:reverse track by history.id">
                        <th ng-bind="device.date"></th>
                        <th ng-bind="device.message"></th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="removeModal.html">
        <div class="modal-header warning">
            <h2 class="modal-title">
                <span class="glyphicon glyphicon-alert"></span>
                <span ng-bind="'CORE.UI.WARNING' | translate"></span>
            </h2>
        </div>
        <div class="modal-body text-center" ng-bind-html="'CORE.UI.WARNING_MODAL_ACTION' | translate">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()" ng-bind="'CORE.UI.FORM_CANCEL' | translate"></button>
        </div>
    </script>
</div>
