<div ng-controller="DeviceDetailController as vm">
    <div class="device-detail" ng-class="{'opened' : manage.showDetail}">
        <div class="header">
            <ul class="menu">
                <li class="action item" ng-click="vm.setActivePage(0)" ng-class="{'active': vm.isActivePage(0)}">
                    <span ng-bind="'MANAGE.DETAIL.ACTION' | translate"></span>
                </li>
                <li class="detail item" ng-click="vm.setActivePage(1)" ng-class="{'active': vm.isActivePage(1)}">
                    <span ng-bind="'MANAGE.DETAIL.DETAIL' | translate"></span>
                </li>
                <li class="history item" ng-click="vm.setActivePage(2)" ng-class="{'active': vm.isActivePage(2)}">
                    <span ng-bind="'MANAGE.DETAIL.HISTORY' | translate"></span>
                </li>
                <hr />
            </ul>
            <span class="exit" ng-click="vm.closeDetail()"></span>
        </div>

        <div class="content" ng-class="{'first': vm.isActivePage(0), 'second': vm.isActivePage(1), 'third': vm.isActivePage(2)}">
            <div class="action-page page" ng-class="{'active': vm.isActivePage(0)}">
                action
            </div>
            <div class="detail-page page" ng-class="{'active': vm.isActivePage(1)}">
                <div class="">
                    <span class="name" ng-bind="vm.selectedDevice.name"></span>
                    <span class="pencil"></span>
                    <div class="state" ng-bind="('MANAGE.DETAIL.STATE' | translate) + ': '"></div>
                </div>
                <div class="" ng-if="!vm.selectedDevice.devices.length">
                    test
                </div>
                <div class="storage" ng-if="!vm.selectedDevice.devices.length">
                    test
                </div>
                <div class="action" ng-if="vm.selectedDevice.devices.length">
                    <div class="name" ng-bind="'MANAGE.DETAIL.ACTION' | translate"></div>
                    <table class="table" border="0">
                        <thead>
                            <tr>
                                <th ov-sort-table order="'name'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.TABLE.NAME' | translate }}</th>
                                <th ov-sort-table order="'status'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.TABLE.STATUS' | translate }}</th>
                                <th class="trash"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="device in vm.selectedDevice.devices | orderBy:order:reverse track by device.id">
                                <th ng-bind="device.name"></th>
                                <th ng-bind="device.status"></th>
                                <th class="cross"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="history-page page" ng-class="{'active': vm.isActivePage(2)}">
                history
            </div>
        </div>
    </div>
</div>
