<div ng-controller="ManageItemDetailController as vm">
    <div class="item-detail" ng-class="{'opened' : manage.showDetail}">
        <div class="header">
            <ul class="menu">
                <li class="action item" ng-click="setActivePage(0)" ng-class="{'active': isActivePage(0)}">
                    <span ng-bind="'MANAGE.DETAIL.ACTION.TAB_TITLE' | translate"></span>
                </li>
                <li class="detail item" ng-click="setActivePage(1)" ng-class="{'active': isActivePage(1)}">
                    <span ng-bind="'MANAGE.DETAIL.DETAIL.TAB_TITLE' | translate"></span>
                </li>
                <li class="history item" ng-click="setActivePage(2)" ng-class="{'active': isActivePage(2)}">
                    <span ng-bind="'MANAGE.DETAIL.HISTORY.TAB_TITLE' | translate"></span>
                </li>
                <hr />
            </ul>
            <span class="exit" ng-click="vm.closeDetail()"></span>
        </div>

        <div class="content" ng-class="{'first': isActivePage(0), 'second': isActivePage(1), 'third': isActivePage(2)}">

            <!-- Action tab -->
            <div class="action-page page" ng-class="{'active': isActivePage(0)}">
                <form name="actionForm" ng-submit="vm.addSchedule()" novalidate>

                  <!-- Preset selector -->
                  <div class="form-group preset"
                  ng-if="vm.selectedItem.status !== DEVICE_STATUS.DISCONNECTED">
                  <div ng-class="['form-group', {'disabled': !vm.selectedItem.presets, 'has-error': vm.selectedItem.inputs.error}]">
                    <label class="title" ng-bind="'MANAGE.DETAIL.ACTION.PRESET' | translate"></label >
                      <select class="form-control" ng-model="vm.itemSchedule.schedule.preset"
                      ng-options="preset.id as (preset.name) for preset in vm.selectedItem.presets |orderBy:'profile'"
                      ng-disabled="!vm.selectedItem.presets"
                      ng-if="vm.selectedItem.presets.length > 1"
                      ng-change="vm.validatePreset(vm.itemSchedule.schedule.preset);">
                      <option value="" selected hidden />
                    </select>
                    <label class="selected-preset" ng-if="vm.selectedItem.presets.length === 1" ng-bind="vm.selectedItem.presets[0].name"></label>
                  </div>
                  <div class="form-group" ng-if="vm.selectedItem.inputs.error">
                    <div ng-bind="vm.selectedItem.inputs.error | translate" class="text-danger actionError">
                  </div>
                </div>
              </div>

                    <!-- Record actions -->
                    <div class="form-group action" ng-if="vm.selectedItem.status !== DEVICE_STATUS.DISCONNECTED">
                        <label class="title" ng-bind="'MANAGE.DETAIL.ACTION.ACTION_TITLE' | translate"></label>
                        <button class="start btn btn-primary"
                                type="button"
                                ng-click="vm.startRecord()"
                                ng-if="vm.selectedItem.status === DEVICE_STATUS.STOPPED || vm.selectedItem.status === DEVICE_STATUS.STARTING || vm.selectedItem.status === DEVICE_STATUS.ERROR"
                                ng-disabled="vm.selectedItem.status === DEVICE_STATUS.STARTING || vm.selectedItem.status === DEVICE_STATUS.STOPPING || vm.selectedItem.inputs.error"
                                ng-bind="'MANAGE.DETAIL.ACTION.START' | translate"></button>
                        <div class="recording">
                            <button class="stop btn"
                                    type="button"
                                    ng-click="vm.stopRecord()"
                                    ng-if="vm.selectedItem.status === DEVICE_STATUS.STARTED || vm.selectedItem.status === DEVICE_STATUS.STOPPING"
                                    ng-disabled="vm.selectedItem.status === DEVICE_STATUS.STOPPING"
                                    ng-bind="'MANAGE.DETAIL.ACTION.STOP_RECORDING' | translate"></button>
                            <button class="tag btn btn-primary"
                                    type="button"
                                    ng-click="vm.tagRecord()"
                                    ng-if="vm.selectedItem.status === DEVICE_STATUS.STARTED || vm.selectedItem.status === DEVICE_STATUS.STOPPING"
                                    ng-disabled="vm.selectedItem.status === DEVICE_STATUS.STOPPING"
                                    ng-bind="'MANAGE.DETAIL.ACTION.TAG' | translate"></button>
                        </div>
                    </div>

                    <!-- Scheduling -->
                    <div class="form-group planning" ng-if="vm.selectedItem.status !== DEVICE_STATUS.DISCONNECTED">
                        <label class="title" ng-bind="'MANAGE.DETAIL.ACTION.PLANNING_TITLE' | translate"></label>
                        <div class="row">
                        <div class="col-xs-6 form-group begin-block" ng-class="{'has-error': actionForm.beginDate.$invalid && vactionForm.beginDate.$touched}">
                          <label ng-bind="('MANAGE.DETAIL.ACTION.BEGIN' | translate) + ' :'"></label>
                            <span class="input-group date-container">
                              <input name="beginDate"
                              class="form-control date"
                              type="text"
                              uib-datepicker-popup="dd/MM/yyyy"
                              ng-click="vm.popupBegin.opened = !vm.popupBegin.opened"
                              ng-model="vm.itemSchedule.schedule.beginDate"
                              is-open="vm.popupBegin.opened"
                              min-date="vm.popupBegin.minDate"
                              show-button-bar="false"
                              show-weeks="false"
                              ng-required="true"
                              close-text="Close"
                              ng-change="vm.validateEndDate()"
                              ng-model-options="{allowInvalid : true}"
                              required/>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.popupBegin.opened = !vm.popupBegin.opened"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </span>
                          </div>
                      

                        <div class="col-xs-6  form-group time-block">
                          <label class="duration" for="duration" ng-bind="('MANAGE.DETAIL.ACTION.TIME' | translate) + ' :'"></label>
                          <uib-timepicker class="time"
                                          name="beginTime"
                                          ng-model="vm.itemSchedule.schedule.beginDate"
                                          ng-model-options="{allowInvalid : true}"
                                          show-spinners="false"
                                          show-meridian="false"
                                          required>
                          </uib-timepicker>
                        </div>
                        </div>

                        <div class="form-group duration-block">
                          <label class="duration" for="duration" ng-bind="('MANAGE.DETAIL.ACTION.DURATION' | translate) + ' :'"></label>
                          <uib-timepicker ng-model="vm.itemSchedule.schedule.durationDate"
                                          show-spinners="false"
                                          show-meridian="false"
                                          min="vm.minDuration"
                                          name="durationDate"
                                          required>
                          </uib-timepicker>
                        </div>

                        
                         <div class="form-group recurrent-block">
                          <div class="checkbox">
                            <input id="recurrent-schedule" type="checkbox" ng-model="vm.itemSchedule.schedule.recurrent">
                            <label for="recurrent-schedule" ng-bind="'MANAGE.DETAIL.ACTION.RECURRENT' | translate"></label>
                          </div>
                          </div>
                        

                        <div class="form-group end-block" ng-show="vm.itemSchedule.schedule.recurrent"  ng-class="{'has-error': actionForm.endDate.$invalid && actionForm.endDate.$touched}">
                          <label class="end" ng-bind="('MANAGE.DETAIL.ACTION.END' | translate) + ' :'"></label>
                          <div class="input-group date-container">
                            <input name="endDate"
                            class="form-control date"
                            type="text"
                            uib-datepicker-popup="dd/MM/yyyy"
                            ng-click="vm.popupEnd.opened = !vm.popupEnd.opened"
                            ng-model="vm.itemSchedule.schedule.endDate"
                            is-open="vm.popupEnd.opened"
                            min-date="vm.itemSchedule.schedule.beginDate"
                            show-button-bar="false"
                            show-weeks="false"
                            ng-required="vm.itemSchedule.schedule.recurrent"
                            close-text="Close"
                            required/>
                            <span class="input-group-btn">
                              <button  type="button" class="btn btn-default" ng-click="vm.popupEnd.opened = !vm.popupEnd.opened"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                          </div>
                        </div>

                        <button type="submit" class="record btn btn-primary" ng-disabled="actionForm.$invalid || vm.selectedItem.inputs.error" ng-bind="'MANAGE.DETAIL.ACTION.RECORD' | translate"></button>

                        <table class="table" border="0">
                            <thead>
                            <tr>
                                <th ov-manage-sort-table order="'beginDate'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.ACTION.PLANNING_TABLE.BEGIN' | translate }}</th>
                                <th ov-manage-sort-table order="'duration'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.ACTION.PLANNING_TABLE.DURATION' | translate }}</th>
                                <th ov-manage-sort-table order="'endDate'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.ACTION.PLANNING_TABLE.END' | translate }}</th>
                                <th class="trash"><i class="glyphicon glyphicon-trash"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="schedule in vm.selectedItem.schedules | orderBy:order:reverse track by schedule.id">
                                <th>
                                    <div class="periodic">
                                        <i class="glyphicon glyphicon-repeat" ng-if="schedule.recurrent"></i>
                                        <div class="hour" ng-bind="schedule.beginDate | date:'HH:mm'"></div>
                                        <div ng-class="{'right': schedule.recurrent}" class="date" ng-bind="schedule.beginDate | date:'dd/MM/yyyy'"></div>
                                    </div>
                                </th>
                                <th>
                                    <div class="periodic" ng-init="">
                                        <div class="hour" ng-bind="(vm.zeroTimeDate + schedule.duration) | date:'HH:mm'"></div>
                                    </div>
                                </th>
                                <th>
                                    <div class="periodic" ng-if="schedule.recurrent">
                                        <div class="hour" ng-bind="schedule.endDate | date:'HH:mm'"></div>
                                        <div class="date" ng-bind="schedule.endDate | date:'dd/MM/yyyy'"></div>
                                    </div>
                                </th>
                                <th class="cross" ng-click="vm.openRemoveModal(schedule.id, 'REMOVE_SCHEDULE')"></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>

                <!-- Actions -->
                <button ng-if="vm.selectedItem.type !== MANAGEABLE_TYPES.GROUP" class="btn btn-primary remove" ng-click="vm.openRemoveModal(vm.selectedItem.id, 'REMOVE_DEVICE')" ng-bind="'MANAGE.DETAIL.ACTION.REMOVE_DEVICE' | translate"></button>
                <div class="title" ng-if="vm.selectedItem.type === MANAGEABLE_TYPES.GROUP && vm.selectedItem.status === DEVICE_STATUS.DISCONNECTED" ng-bind="'MANAGE.DETAIL.ACTION.NO_ACTION' | translate"></div>
            </div>

            <!-- Detail tab -->
            <div class="detail-page page" ng-class="{'active': isActivePage(1)}">

                <div class="form-group status">

                    <!-- Name edition -->
                    <span class="name" 
                        ng-bind="(vm.selectedItem.name || 'MANAGE.DEVICE.DEFAULT_NAME') | translate"
                        ng-show="!vm.selectedItem.displayInputName"
                    ></span>
                    <i class="pencil glyphicon glyphicon-pencil" ng-show="!vm.selectedItem.displayInputName && ((vm.selectedItem.status !== DEVICE_STATUS.DISCONNECTED) || vm.selectedItem.type === MANAGEABLE_TYPES.GROUP)" ng-click="vm.displayDeviceNameForm()"></i>
                    <form  name="vm.deviceNameForm" novalidate ng-show="vm.selectedItem.displayInputName">
                        <div class="form-group">
                          <input type="text" class="form-control input-name" ng-model="vm.selectedItemName" required>
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary ng-binding" ng-disabled="vm.deviceNameForm.$invalid || vm.deviceNameForm.$waiting" ng-bind="'CORE.UI.FORM_SAVE' | translate" ng-click="vm.updateName(vm.selectedItemName)">Enregistrer</button>
                          <button type="button" class="btn btn-default ng-binding" ng-disabled="vm.deviceNameForm.$waiting" ng-click="vm.selectedItem.displayInputName = !vm.selectedItem.displayInputName" ng-bind="'CORE.UI.FORM_CANCEL' | translate">Annuler</button>
                        </div>
                      
                    </form>

                    <!-- State -->
                    <div class="state">
                        {{ ('MANAGE.DETAIL.DETAIL.STATE' | translate) + ' : ' }}
                        <span ng-class="vm.selectedItem.status" ng-bind="vm.selectedItem.statusMessage | translate"></span>
                    </div>
                </div>

                <!-- Device info -->
                <div class="infos form-horizontal" ng-if="vm.selectedItem.type !== MANAGEABLE_TYPES.GROUP && vm.selectedItem.status !== DEVICE_STATUS.DISCONNECTED">
                  <div class="form-group">
                    <label  class="col-xs-3 control-label">IP :</label>
                    <div class="col-xs-9">
                      <span ng-bind="vm.selectedItem.ip"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-xs-3 control-label">@MAC :</label>
                    <div class="col-xs-9">
                      <span ng-bind="vm.selectedItem.id"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-xs-3 control-label">URL :</label>
                    <div class="col-xs-9">
                      <a ng-href="{{ vm.selectedItem.url }}" target="_blank" ng-bind="vm.selectedItem.url"></a>
                    </div>
                    </div>
                </div>

                <!-- Device storage info -->
                <div class="storage" ng-if="vm.selectedItem.type !== MANAGEABLE_TYPES.GROUP && vm.selectedItem.status !== DEVICE_STATUS.DISCONNECTED">
                    <span class="text" ng-bind="('MANAGE.DEVICE.SPACE' | translate) + ' : '"></span>
                    <span ng-bind="(vm.selectedItem.storage.used | number : '1') + ' Go / ' + (vm.selectedItem.storage.total | number : '1') + ' Go'"></span>
                </div>

                <!-- List of devices in the group -->
                <div class="action" ng-if="vm.selectedItem.type === MANAGEABLE_TYPES.GROUP">
                    <div class="name" ng-bind="'MANAGE.DETAIL.DETAIL.DEVICES_TITLE' | translate"></div>
                    <table class="table" border="0">
                        <thead>
                            <tr>
                                <th ov-manage-sort-table order="'name'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.DETAIL.DEVICES_TABLE.NAME' | translate }}</th>
                                <th ov-manage-sort-table order="'status'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.DETAIL.DEVICES_TABLE.STATUS' | translate }}</th>
                                <th class="trash"><i class="glyphicon glyphicon-trash"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="device in vm.selectedItem.devices | orderBy:order:reverse track by device.id">
                                <th ng-bind="(device.name || 'MANAGE.DEVICE.DEFAULT_NAME') | translate"></th>
                                <th ng-bind="device.statusMessage | translate"></th>
                                <th class="cross" ng-click="removeFromGroup(device.id)"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- History tab -->
            <div class="history-page page" ng-class="{'active': isActivePage(2)}">
                <div class="form-group remove">
                  <button class="btn btn-primary" ng-click="vm.openRemoveModal(vm.selectedItem.id, 'PURGE_HISTORY')" ng-bind="'MANAGE.DETAIL.HISTORY.PURGE_HISTORY' | translate"></button>
                </div>
                <table class="form-group table" border="0">
                    <thead>
                    <tr>
                        <th ov-manage-sort-table order="'date'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.HISTORY.TABLE.DATE' | translate }}</th>
                        <th ov-manage-sort-table order="'message.data'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.HISTORY.TABLE.MESSAGE' | translate }}</th>
                        <th class="trash"><i class="glyphicon glyphicon-trash"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="history in vm.selectedItem.history | orderBy:order:!reverse track by history.id">
                        <th ng-bind="history.date | date:'dd/MM/yyyy HH:mm'"></th>
                        <th ng-bind="history.message.data | translate:'':history.message.params"></th>
                        <th class="cross" ng-click="vm.openRemoveModal(history.id, 'REMOVE_HISTORY')"></th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Remove dialog -->
    <script type="text/ng-template" id="removeModal.html">
        <div class="modal-header warning">
            <h2 class="modal-title">
                <span class="glyphicon glyphicon-alert"></span>
                <span ng-bind="'CORE.UI.WARNING' | translate"></span>
            </h2>
        </div>
        <div class="modal-body text-center" ng-bind-html="'CORE.UI.WARNING_MODAL_ACTION' | translate">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()" ng-bind="'CORE.UI.FORM_CANCEL' | translate"></button>
        </div>
    </script>
</div>
