<div ng-controller="ManageManageableDetailController as vm">
    <div class="item-detail" ng-class="{'opened' : manage.showDetail}">
        <div class="header">
            <ul class="menu">
                <li class="action item" ng-click="setActivePage(0)" ng-class="{'active': isActivePage(0)}">
                    <span ng-bind="'MANAGE.DETAIL.ACTION.TAB_TITLE' | translate"></span>
                </li>
                <li class="detail item" ng-click="setActivePage(1)" ng-class="{'active': isActivePage(1)}">
                    <span ng-bind="'MANAGE.DETAIL.DETAIL.TAB_TITLE' | translate"></span>
                </li>
                <li class="history item" ng-click="setActivePage(2)" ng-class="{'active': isActivePage(2)}">
                    <span ng-bind="'MANAGE.DETAIL.HISTORY.TAB_TITLE' | translate"></span>
                </li>
                <hr />
            </ul>
            <span class="exit" ng-click="vm.closeDetail()"></span>
        </div>

        <div class="content" ng-class="{'first': isActivePage(0), 'second': isActivePage(1), 'third': isActivePage(2)}">

            <!-- Action tab -->
            <div class="action-page page" ng-class="{'active': isActivePage(0)}">
                <form name="actionForm" ng-submit="vm.addSchedule()" novalidate>

                    <!-- Presets -->
                    <div
                      class="form-group preset"
                      ng-if="vm.selectedManageable.status !== DEVICE_STATUS.DISCONNECTED"
                    >
                        <label class="title" ng-bind="'MANAGE.DETAIL.ACTION.PRESET' | translate"></label>

                        <!-- Record name -->
                        <div class="form-group record-name-block">
                            <label for="recordName" ng-bind="('MANAGE.DETAIL.ACTION.RECORD_NAME' | translate) + ' :'"></label>
                            <input name="recordName"
                                   id="recordName"
                                   class="form-control"
                                   type="text"
                                   placeholder="{{'MANAGE.DETAIL.ACTION.RECORD_NAME_PLACEHOLDER' | translate}}"
                                   ng-model="vm.itemSchedule.schedule.name"/>
                        </div>

                        <!-- Encoder preset -->
                        <div class="form-group encoder-preset-block" ng-class="['form-group', {'disabled': !vm.selectedManageable.presets, 'has-error': vm.selectedManageable.inputs.error}]">
                            <label for="encoderPreset" ng-bind="('MANAGE.DETAIL.ACTION.ENCODER_PRESET' | translate) + ' :'"></label>
                            <select class="form-control"
                                    name="encoderPreset"
                                    id="encoderPreset"
                                    ng-model="vm.itemSchedule.schedule.preset"
                                    ng-options="preset.id as (preset.name) for preset in vm.selectedManageable.presets |orderBy:'profile'"
                                    ng-disabled="!vm.selectedManageable.presets"
                                    ng-if="vm.selectedManageable.presets.length > 1"
                                    ng-change="vm.validatePreset(vm.itemSchedule.schedule.preset);">
                              <option value="" selected hidden />
                            </select>
                            <label class="selected-preset" ng-if="vm.selectedManageable.presets.length === 1" ng-bind="vm.selectedManageable.presets[0].name"></label>
                            <div ng-bind="vm.selectedManageable.inputs.error | translate" class="text-danger actionError"></div>
                        </div>
                    </div>

                    <!-- Record actions -->
                    <div class="form-group action" ng-if="vm.selectedManageable.status !== DEVICE_STATUS.DISCONNECTED">
                        <label class="title" ng-bind="'MANAGE.DETAIL.ACTION.ACTION_TITLE' | translate"></label>

                        <!-- Start button -->
                        <button class="start btn btn-primary"
                                type="button"
                                ng-click="vm.startRecord()"
                                ng-if="vm.selectedManageable.status === DEVICE_STATUS.STOPPED || vm.selectedManageable.status === DEVICE_STATUS.STARTING || vm.selectedManageable.status === DEVICE_STATUS.ERROR"
                                ng-disabled="vm.selectedManageable.status === DEVICE_STATUS.STARTING || vm.selectedManageable.status === DEVICE_STATUS.STOPPING || vm.selectedManageable.inputs.error || !vm.selectedManageable.presets || !vm.selectedManageable.presets.length"
                                ng-bind="'MANAGE.DETAIL.ACTION.START' | translate"></button>

                        <!-- Stop and tag buttons -->
                        <div class="recording">
                            <button class="stop btn"
                                    type="button"
                                    ng-click="vm.stopRecord()"
                                    ng-if="vm.selectedManageable.status === DEVICE_STATUS.STARTED || vm.selectedManageable.status === DEVICE_STATUS.STOPPING"
                                    ng-disabled="vm.selectedManageable.status === DEVICE_STATUS.STOPPING"
                                    ng-bind="'MANAGE.DETAIL.ACTION.STOP_RECORDING' | translate"></button>
                            <button class="tag btn btn-primary"
                                    type="button"
                                    ng-click="vm.tagRecord()"
                                    ng-if="vm.selectedManageable.status === DEVICE_STATUS.STARTED || vm.selectedManageable.status === DEVICE_STATUS.STOPPING"
                                    ng-disabled="vm.selectedManageable.status === DEVICE_STATUS.STOPPING"
                                    ng-bind="'MANAGE.DETAIL.ACTION.TAG' | translate"></button>
                        </div>
                    </div>

                    <!-- Scheduling -->
                    <div class="form-group planning" ng-if="vm.selectedManageable.status !== DEVICE_STATUS.DISCONNECTED">
                        <label class="title" ng-bind="'MANAGE.DETAIL.ACTION.PLANNING_TITLE' | translate"></label>
                        <div class="row">

                            <!-- Start date -->
                            <div class="col-xs-6 form-group begin-block" ng-class="{'has-error': actionForm.beginDate.$invalid && actionForm.beginDate.$touched}">
                                <label ng-bind="('MANAGE.DETAIL.ACTION.BEGIN' | translate) + ' :'" for="beginDate"></label>
                                <span class="input-group date-container">
                                    <input name="beginDate"
                                           id="beginDate"
                                           class="form-control date"
                                           type="text"
                                           uib-datepicker-popup="dd/MM/yyyy"
                                           datepicker-options="vm.popupBegin.options"
                                           ng-click="vm.popupBegin.opened = !vm.popupBegin.opened"
                                           ng-model="vm.itemSchedule.schedule.beginDate"
                                           is-open="vm.popupBegin.opened"
                                           show-button-bar="false"
                                           ng-required="true"
                                           ng-change="vm.validateEndDate()"
                                           ng-model-options="{allowInvalid : true}"
                                           required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.popupBegin.opened = !vm.popupBegin.opened"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </span>
                            </div>

                            <!-- Start time -->
                            <div class="col-xs-6 form-group time-block">
                                <label ng-bind="('MANAGE.DETAIL.ACTION.TIME' | translate) + ' :'"></label>
                                <div uib-timepicker
                                     class="time"
                                     name="beginTime"
                                     ng-model="vm.itemSchedule.schedule.beginTime"
                                     ng-model-options="{allowInvalid : true}"
                                     show-spinners="false"
                                     show-meridian="false"
                                     mousewheel="false"
                                     required>
                                </div>
                            </div>
                        </div>

                        <!-- Duration -->
                        <div class="form-group duration-block">
                            <label ng-bind="('MANAGE.DETAIL.ACTION.DURATION' | translate) + ' :'"></label>
                            <div uib-timepicker
                                 ng-model="vm.itemSchedule.schedule.durationDate"
                                 show-spinners="false"
                                 show-meridian="false"
                                 min="vm.minDuration"
                                 mousewheel="false"
                                 name="durationDate"
                                 required>
                            </div>
                        </div>

                        <div class="form-group recurrent-block">
                           <div class="checkbox">
                               <input id="recurrent-schedule" type="checkbox" ng-model="vm.itemSchedule.schedule.recurrent">
                               <label for="recurrent-schedule" ng-bind="'MANAGE.DETAIL.ACTION.RECURRENT' | translate"></label>
                           </div>
                        </div>

                        <!-- End date -->
                        <div class="form-group end-block" ng-show="vm.itemSchedule.schedule.recurrent"  ng-class="{'has-error': actionForm.endDate.$invalid && actionForm.endDate.$touched}">
                            <label class="end" ng-bind="('MANAGE.DETAIL.ACTION.END' | translate) + ' :'"></label>
                            <div class="input-group date-container">
                                <input name="endDate"
                                       class="form-control date"
                                       type="text"
                                       uib-datepicker-popup="dd/MM/yyyy"
                                       datepicker-options="vm.popupEnd.options"
                                       ng-click="vm.popupEnd.opened = !vm.popupEnd.opened"
                                       ng-model="vm.itemSchedule.schedule.endDate"
                                       is-open="vm.popupEnd.opened"
                                       show-button-bar="false"
                                       ng-required="vm.itemSchedule.schedule.recurrent"
                                       required/>
                                <span class="input-group-btn">
                                    <button  type="button" class="btn btn-default" ng-click="vm.popupEnd.opened = !vm.popupEnd.opened"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>

                        <button type="submit" class="record btn btn-primary" ng-disabled="actionForm.$invalid ||
                          vm.selectedManageable.inputs.error || !vm.selectedManageable.presets || !vm.selectedManageable.presets.length" ng-bind="'MANAGE.DETAIL.ACTION.RECORD' | translate"></button>

                        <table class="table" border="0">
                            <thead>
                            <tr>
                                <th ov-manage-sort-table order="'name'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.ACTION.PLANNING_TABLE.NAME' | translate }}</th>
                                <th ov-manage-sort-table order="'beginDate'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.ACTION.PLANNING_TABLE.PLANNING' | translate }}</th>
                                <th ov-manage-sort-table order="'duration'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.ACTION.PLANNING_TABLE.DURATION' | translate }}</th>
                                <th ov-manage-sort-table order="'preset'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.ACTION.PLANNING_TABLE.PRESET' | translate }}</th>
                                <th class="trash"><i class="glyphicon glyphicon-trash"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="schedule in vm.selectedManageable.schedules | orderBy:order:reverse track by schedule.id">
                                    <th>
                                        <div>
                                            <div ng-bind="schedule.name"></div>
                                        </div>
                                    </th>
                                    <th>
                                        <div>
                                            <i class="glyphicon glyphicon-repeat" title="{{'MANAGE.DETAIL.ACTION.PLANNING_TABLE.DAILY' | translate}}" ng-if="schedule.recurrent"></i>

                                            <!-- Begin -->
                                            <div>
                                                <div ng-bind="'MANAGE.DETAIL.ACTION.PLANNING_TABLE.BEGIN' | translate"
                                                     ng-if="schedule.recurrent"
                                                     class="planning-label"></div>
                                                <div class="date" ng-bind="schedule.beginDate | date:'shortDate'"></div>
                                                <div ng-bind="schedule.beginDate | date:'shortTime'"></div>
                                            </div>

                                            <!-- End -->
                                            <div ng-if="schedule.recurrent">
                                                </br>
                                                <div ng-bind="'MANAGE.DETAIL.ACTION.PLANNING_TABLE.END' | translate"
                                                     class="planning-label"></div>
                                                <div ng-bind="schedule.endDate | date:'shortDate'"></div>
                                                <div ng-bind="schedule.endDate | date:'shortTime'"></div>
                                            </div>

                                        </div>
                                    </th>
                                    <th>
                                        <div>
                                            <div ng-bind="(vm.zeroTimeDate + schedule.duration) | date:'HH:mm'"></div>
                                        </div>
                                    </th>
                                    <th>
                                        <div>
                                            <div ng-bind="vm.getPresetName(schedule.preset)"></div>
                                        </div>
                                    </th>
                                    <th class="cross" ng-click="vm.openRemoveModal(schedule.id, 'REMOVE_SCHEDULE')"></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>

                <!-- Actions -->
                <button ng-if="vm.selectedManageable.type !== MANAGEABLE_TYPES.GROUP" class="btn btn-primary remove" ng-click="vm.openRemoveModal(vm.selectedManageable.id, 'REMOVE_DEVICE')" ng-bind="'MANAGE.DETAIL.ACTION.REMOVE_DEVICE' | translate"></button>
                <div class="title" ng-if="vm.selectedManageable.type === MANAGEABLE_TYPES.GROUP && vm.selectedManageable.status === DEVICE_STATUS.DISCONNECTED" ng-bind="'MANAGE.DETAIL.ACTION.NO_ACTION' | translate"></div>
            </div>

            <!-- Detail tab -->
            <div class="detail-page page" ng-class="{'active': isActivePage(1)}">

                <div class="form-group status">

                    <!-- Name edition -->
                    <span class="name"
                        ng-bind="(vm.selectedManageable.name || 'MANAGE.DEVICE.DEFAULT_NAME') | translate"
                        ng-show="!vm.selectedManageable.displayInputName"
                    ></span>
                    <i class="pencil glyphicon glyphicon-pencil" ng-show="!vm.selectedManageable.displayInputName &&
                      ((vm.selectedManageable.status !== DEVICE_STATUS.DISCONNECTED) || vm.selectedManageable.type === MANAGEABLE_TYPES.GROUP)" ng-click="vm.displayNameForm()" tabIndex="0"></i>
                    <form  name="vm.deviceNameForm" novalidate ng-show="vm.selectedManageable.displayInputName">
                        <div class="form-group">
                          <input type="text" class="form-control input-name" ng-model="vm.selectedManageableName" required>
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary ng-binding" ng-disabled="vm.deviceNameForm.$invalid || vm.deviceNameForm.$waiting" ng-bind="'CORE.UI.FORM_SAVE' | translate" ng-click="vm.updateName(vm.selectedManageableName)">Enregistrer</button>
                          <button type="button" class="btn btn-default ng-binding" ng-disabled="vm.deviceNameForm.$waiting" ng-click="vm.selectedManageable.displayInputName = !vm.selectedManageable.displayInputName" ng-bind="'CORE.UI.FORM_CANCEL' | translate">Annuler</button>
                        </div>

                    </form>

                    <!-- State -->
                    <div class="state">
                        {{ ('MANAGE.DETAIL.DETAIL.STATE' | translate) + ' : ' }}
                        <span ng-class="vm.selectedManageable.status" ng-bind="vm.selectedManageable.statusMessage | translate"></span>
                    </div>
                </div>

                <!-- Device info -->
                <div class="infos form-horizontal" ng-if="vm.selectedManageable.type !== MANAGEABLE_TYPES.GROUP && vm.selectedManageable.status !== DEVICE_STATUS.DISCONNECTED">
                  <div class="form-group">
                    <label  class="col-xs-3 control-label">IP :</label>
                    <div class="col-xs-9">
                      <span ng-bind="vm.selectedManageable.ip"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-xs-3 control-label">@MAC :</label>
                    <div class="col-xs-9">
                      <span ng-bind="vm.selectedManageable.id"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-xs-3 control-label">URL :</label>
                    <div class="col-xs-9">
                      <a ng-href="{{ vm.selectedManageable.url }}" target="_blank" ng-bind="vm.selectedManageable.url"></a>
                    </div>
                    </div>
                </div>

                <!-- Device storage info -->
                <div class="storage" ng-if="vm.selectedManageable.type !== MANAGEABLE_TYPES.GROUP && vm.selectedManageable.status !== DEVICE_STATUS.DISCONNECTED">
                    <span class="text" ng-bind="('MANAGE.DEVICE.SPACE' | translate) + ' : '"></span>
                    <span ng-bind="(vm.selectedManageable.storage.used | number : '1') + ' Go / ' + (vm.selectedManageable.storage.total | number : '1') + ' Go'"></span>
                </div>

                <!-- List of devices in the group -->
                <div class="action" ng-if="vm.selectedManageable.type === MANAGEABLE_TYPES.GROUP">
                    <div class="name" ng-bind="'MANAGE.DETAIL.DETAIL.DEVICES_TITLE' | translate"></div>
                    <table class="table" border="0">
                        <thead>
                            <tr>
                                <th ov-manage-sort-table order="'name'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.DETAIL.DEVICES_TABLE.NAME' | translate }}</th>
                                <th ov-manage-sort-table order="'status'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.DETAIL.DEVICES_TABLE.STATUS' | translate }}</th>
                                <th class="trash"><i class="glyphicon glyphicon-trash"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="device in vm.selectedManageable.devices | orderBy:order:reverse track by device.id">
                                <th ng-bind="(device.name || 'MANAGE.DEVICE.DEFAULT_NAME') | translate"></th>
                                <th ng-bind="device.statusMessage | translate"></th>
                                <th class="cross" ng-click="removeFromGroup(device.id)"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- History tab -->
            <div class="history-page page" ng-class="{'active': isActivePage(2)}">
                <div class="form-group remove">
                  <button class="btn btn-primary" ng-click="vm.openRemoveModal(vm.selectedManageable.id, 'PURGE_HISTORY')" ng-bind="'MANAGE.DETAIL.HISTORY.PURGE_HISTORY' | translate"></button>
                </div>
                <table class="form-group table" border="0">
                    <thead>
                    <tr>
                        <th ov-manage-sort-table order="'date'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.HISTORY.TABLE.DATE' | translate }}</th>
                        <th ov-manage-sort-table order="'message.data'" by="order" reverse="reverse">{{ 'MANAGE.DETAIL.HISTORY.TABLE.MESSAGE' | translate }}</th>
                        <th class="trash"><i class="glyphicon glyphicon-trash"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="history in vm.selectedManageable.history | orderBy:order:!reverse track by history.id">
                        <th ng-bind="history.date | date:'dd/MM/yyyy HH:mm'"></th>
                        <th ng-bind="history.message.data | translate:'':history.message.params"></th>
                        <th class="cross" ng-click="vm.openRemoveModal(history.id, 'REMOVE_HISTORY')"></th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Remove dialog -->
    <script type="text/ng-template" id="removeModal.html">
        <div class="modal-header warning">
            <h2 class="modal-title">
                <span class="glyphicon glyphicon-alert"></span>
                <span ng-bind="'CORE.UI.WARNING' | translate"></span>
            </h2>
        </div>
        <div class="modal-body text-center" ng-bind-html="'CORE.UI.WARNING_MODAL_ACTION' | translate">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()" ng-bind="'CORE.UI.FORM_CANCEL' | translate"></button>
        </div>
    </script>
</div>
